.form {
    padding: 1rem;
}

.control {
    margin-bottom: 0.5rem;
}

.control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.9rem;
}

.control input,
.control textarea {
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 100%;
}

.actions {
    margin-top: 1rem;
}

.actions button {
    width: 100%;
    font: inherit;
    cursor: pointer;
    background-color: #5442ff;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #5442ff;
    border-radius: 8px;
    font-weight: bold;
}

.google {
    padding: 10px;
    font-size: 13px;
    width: 60%;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    border-width: thin;
    color: black;
}

.actions button:hover,
.actions button:active {
    background-color: #2b9dff;
    border-color: #2b9dff;
}